*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 200px;
   
}
.container{
    border: 2px solid crimson;
    width: 80%;  
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;

 
}
.img-container{
    border: 1px solid green;
    width: 48%;

}
.text-container{
    border: 1px solid purple;
    width: 48%;
}