 *{
    margin: 0;
    padding: 0;
} 
.upper-footer{
    border: 2px solid crimson;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: #fff;
    padding: 20px;
    height: 200px;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.upper-footer>div{
    border: 1px solid green;
    width: 24%;
    
}
.upper-footer>div>div.fa-brands{
    font-size: 30px;
    margin-right: 10px;
}
.news-input{
    display: block;
    height: 35px;
    width: 60%;
    border: 0;
    outline: 0;
}
.news-submit{
    display: block;
    height: 40px;
    width: 60%;
    background-color: yellow;
    margin-top: 5px;
}
.lower-footer{
    background-color: grey;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
 .lower-footer a{
    text-decoration: none;
    margin-left: 10px;
    color: black;
    
} 